{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    <h1>Facture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facture.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ facture.numero }}</td>
            </tr>
            <tr>
                <th>DateEmission</th>
                <td>{{ facture.dateEmission ? facture.dateEmission|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>MontantHT</th>
                <td>{{ facture.montantHT }}</td>
            </tr>
            <tr>
                <th>Tva</th>
                <td>{{ facture.tva }}</td>
            </tr>
            <tr>
                <th>Livraison</th>
                <td>{{ facture.livraison }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_facture_index') }}">back to list</a>

    <a href="{{ path('app_facture_edit', {'id': facture.id}) }}">edit</a>

    {{ include('facture/_delete_form.html.twig') }}
{% endblock %}
